button{
    width: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    padding: 10px;
    margin: 5px;
    margin-left: 30px;
    margin-bottom: 20px;
    background-color: rgb(237, 237, 237);
    border: none;
    border-radius: 30px;
    box-shadow: 1px 8px 5px rgb(22, 22, 22);
    transition: .3s;
}

button:active{

    transform: translateY(5px);
    box-shadow: 1px 1px 5px rgb(22, 22, 22);

}