button{

    width: 100px;
    height: 30px;
    background-color: blue;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 8px rgb(0, 96, 231);
    transform: translateY(-5px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



button:focus{
    
    background-color: rgb(0, 0, 151);
    box-shadow: 0px 2px 8px rgb(0, 96, 231);
    transform: translateY(0px);
}

#main1{

    width: 100%;
    height: auto;
    border: 2px solid black;
    padding: 20px;
}

#parent{

    width: 100%;
    height: 40px;
    background-color: aquamarine;
    border: 2px solid black;
}