.ccontainer{
    width: fit-content;
    color: white;
    margin-inline: 30px;
    background-color: rgb(57, 57, 57);
    margin-bottom: 50px;
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    padding: 10px;
}

img{
    margin-bottom: 10px;
    width: 710px;
}