.container{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    background-color: rgb(88, 88, 88);
    padding: 20px;
    overflow-x: hidden;
}

button{
    width: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    padding: 10px;
    margin: 5px;
    background-color: rgb(237, 237, 237);
    border: none;
    border-radius: 30px;
    box-shadow: 1px 8px 5px rgb(22, 22, 22);
    transition: .3s;
}

button:active{

    transform: translateY(5px);
    box-shadow: 1px 1px 5px rgb(22, 22, 22);

}

input {
    height: 30px;
    margin-left: 20px;
    border-radius: 10px;
    padding-inline: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

h2{
    padding: 20px;
} 

h1{
    padding: 20px;
}   