
.calc{

    
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.calcontain{
    margin-top: 200px;
    border: 4px solid rgb(0, 255, 183);
}



.display input{
    font-size: large;
    width: 376px;
    height: 70px;
    text-align: end;
    padding-right: 20px;
}

button{
    font-size: large;
    width: 100px;
    height: 80px;
}