
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans&display=swap');

*{
    margin: 0;
}

nav{
    background: linear-gradient(45deg,rgb(255, 161, 161),rgb(122, 122, 255));
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: end;
}

nav li{
    margin-right: 40px;
    justify-self: center;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    font-weight: 500;
}

body{
    width: auto;
    height: auto;
}

.blue{
    background-color: aqua;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 3;
    left: 60px;
    top: 260px;
    transform: scale(50%);
    animation: scale 10s infinite;
    animation-direction: alternate;
}

@keyframes scale{
    0% {

        transform: scale(0%);
    }
    100%{
        transform: scale(100%);
    }
}

.box{
    width: 180px;
    height: 180px;
    position: absolute;
    background-color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.green{
    background-color: greenyellow;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
    bottom: 160px;
    left: 40px;
}
.red{
    background-color: orangered;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 20px;
}

.container{
    width: 100%;
    height: 400px;
    background-color: aquamarine;
    margin-top: 200px;
}



.contain{
    position: sticky;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    width: 10px;
    height: 200px;
    background-color: rgb(0, 30, 255);
    animation: rotate 2s infinite;
    animation-direction: normal;

}

@keyframes rotate{

    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.fgrid{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gflex{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.gflex li{
    margin: 20px;
    list-style: none;
    font-family: "Alan Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    
}

.one{

    

    margin: 200px;
    margin-top: 0px;

    list-style: none;
    font-family: "Alan Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 100px;
    
}

.go{

    width: 100%;
    height: auto;
    border: 3px black solid;
    display: flex;
    justify-content: end;
    background-color: rgb(153, 153, 153);
}



.image{
    width: 100px;
    transition: transform 5s ease-in-out 1s;
}

.image:hover{

    transform: translateX(-1550px);

}

.flexing{
    width: 100%;
    height: auto;
    display: flex;
}

.box1{
    margin: 2px;
    color: rgb(221, 0, 158);
    height: 50px;
    background-color: rgb(53, 255, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    font-family: "Alan Sans", sans-serif;
    font-size: 20px;
}

.a{

    flex-grow: 1;
    background-color: aliceblue;
    color: black;

}

.b{

    flex-grow: 2;
    background-color: aqua;
    color: blueviolet;

}

.c{

    flex-basis: 400px;
    background-color: red;
    color: aliceblue;

}

.d{

    flex-grow:1;


}


@media screen and (max-width:500px) {

    .image:hover{
        transform: translateX(-380px);
    }   
    
    nav li{
        font-size: 12px;
        margin-top: 5px;
    }
    .one{
        font-size: 70px;
        margin-bottom: 20px;
    }
    .gflex li{
        font-size: 20px;
    }



}