*{
    margin: 0;
}

.nav{

    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(34, 31, 29);


}
.nav0{
    width: 50%;
    display: flex;
    justify-content:left;
    padding-left: 20px;
    align-items: center;

}

.navtext{

    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
}

.nav1{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.text2{
    display: inline;
    color: brown;
    padding: 20px;

}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background: url(img/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: 600;
    margin: 10px;
}
.direct{

    background: linear-gradient(90deg,rgb(255, 221, 143),rgba(101, 44, 0, 0.804));
    border-radius: 20px;
    padding: 100px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;

}

.email1{

    
}

.info1{

    background: rgba(255, 255, 255, 0.31);
    border-radius: 20px;
    padding: 10px;
    width: 400px;

}

.pass{

    background: rgba(255, 255, 255, 0.31);
    border-radius: 20px;
    padding: 10px;
    width: 400px;

}

.info2{

    background: rgba(255, 255, 255, 0.31);
    border-radius: 20px;
    padding: 10px;
    width: 400px;

}

.loc{



    background: rgba(255, 255, 255, 0.31);
    border-radius: 20px;
    padding: 10px;
    width: 400px;

}

.btnarea{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;

}

.btn{

    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(60deg,rgba(135, 74, 0, 0.961),rgba(255, 226, 190, 0.961));
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;

}
