

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    margin: 10px
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    margin: 10px 20px 10px 20px;
}

table{
    border-spacing: 40px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
}

table,th,td{

    border: 2px;
    border-style: solid;
    border-radius: 10px;    
    border-color: rgb(0, 55, 114);

}

th,td{

    background: linear-gradient(45deg,lightblue,rgb(198, 255, 255));
    font-family: 'Courier New', Courier, monospace;

    padding: 30px;
    
}

.Button1 {

    background-color: linear-gradient(45deg,rgb(255, 193, 193),rgb(255, 62, 62));
}