
body{

    display: flex;
    justify-content: center;
}

.box{

    background: linear-gradient(90deg,rgb(255, 187, 187),rgba(138, 245, 255, 0.7));
    width: 800px;
    height: 800px;
    border: 3px;
    border-radius: 20px;
    border-style: solid;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;

}
.box0{
    width: auto;
    height: auto;
    background-color: rgb(40, 40, 40);
    margin: 10px;
    border:  3px solid rgb(255, 255, 255);
}
.box1{
    width: auto;
    height: auto;
    background-color: rgb(47, 255, 0);
    margin: 10px;
    border:  2px solid black;
}
.box2{
    width: auto;
    height: auto;
    background-color: rgb(255, 0, 0);
    margin: 10px;
    border:  2px solid black;
}
.box3{
    width: auto;
    height: auto;
    background-color: rgb(0, 17, 255);
    margin: 10px;
    border:  2px solid black;
}
.box4{
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border:  2px solid black;
}