*{
    margin: 0;
}

.container{
    width: auto;
    height: auto;
    display: flex;
}

.dash{
    width: 15%;
    height: 1000px;
    background: linear-gradient(180deg,rgb(65, 0, 97),rgb(167, 4, 249));

}
.home{
    width: 85%;
    background: linear-gradient(180deg,rgb(240, 234, 255),rgb(213, 210, 255));
}

.nav-dash{
    width: 100%;
    border: 1px;
    border-radius: 5px;
    height: 60px;
    background-color: rgba(142, 202, 255,30%    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.dtext{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(242, 249, 255);
}

.items{
    display: inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 30px;
}


.nav-home{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    width: 100%;
    border: 1px;
    border-radius: 5px  ;

    height: 60px;
    background-color: rgb(222, 206, 255);
}

.tile{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(45deg,blueviolet,rgb(255, 152, 152));
    align-items: center;
    border: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: aliceblue;
}


.image{
    margin-top: 8px;
    margin-left: 8px;
    width: 400px;
    border-radius: 15px;
    border: 2px;
    border-style: double;
    border-color: aliceblue;
}


.imtext{
    display: flex;
    margin: 20px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
}