@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Lavishly+Yours&display=swap');
*{
    margin: 0;
}

html {
  scroll-behavior: smooth;
}


body{
    background-color: black;
    background-position: center;
    background-repeat: repeat;
    background-size: 900px;
    font-family: "Alan Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    height: 3000px;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; /* keeps it behind content */
    opacity: 50%;
}

.na{
    width: 60%;
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: center;
    background:linear-gradient(45deg,rgba(0, 0, 0, 0.082),rgba(255, 255, 255, 0.133));
    height: 30px;
    padding: 10px;
    border-left: 1px solid rgba(128, 128, 128, 0.082);
    border-right: 1px solid rgba(128, 128, 128, 0.225);
    z-index: 100;
    transition: all 0.5s ease ;
    box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.13);
    z-index: 100;
}

.na.scrolled {
    background-color: rgba(0, 0, 0, 0.973);
    box-shadow: 0 2px 10px rgba(70, 70, 70, 0.3);
}

.na:hover{
    width: 80%;
    height: 35px;
    box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.13);
}


nav button{
    color: rgb(216, 214, 214);
    font-family: "Alan Sans", sans-serif;
    font-weight: 300;
    /* font-style: oblique; */
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
    margin-inline: 10px;
    border: none;
    background: radial-gradient(circle at bottom,rgba(255, 255, 255, 0.223),rgba(255, 255, 255, 0.097),rgba(105, 105, 105, 0.177),transparent 90%);
    z-index: 101;
    box-shadow: 10px white;
    
}

.hom1{
    color: rgb(216, 214, 214);
    font-family: "Alan Sans", sans-serif;
    font-weight: 300;
    /* font-style: oblique; */
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
    margin-inline: 5px;
    border: none;
    background: radial-gradient(circle at bottom,rgba(176, 176, 176, 0.491),rgba(255, 255, 255, 0.209),rgba(255, 255, 255, 0.213));
    color: black;
    z-index: 101;
    box-shadow: 10px white;
    margin-left: 400px;
    transition: all 3s ease;    
}

.hom1:hover{

    font-weight: 400;
    background: radial-gradient(circle at bottom,rgba(176, 176, 176, 0.778),rgba(255, 255, 255, 0.77));
    transform: scale(110%) ;
    color: rgb(0, 0, 0);
}

.hom:hover{

    font-weight: 500;
    background: radial-gradient(circle at bottom,rgba(86, 85, 85, 0.293),rgba(101, 101, 101, 0.301),rgba(255, 255, 255, 0.158),rgba(104, 104, 104, 0.097),transparent 90%);
    transform: scale(120%) ;
    color: rgb(190, 190, 190);
}


.lit{
    position: fixed;
    bottom: 30px;
    width: 100%;
    height: 1000px;
    background: radial-gradient(circle at top left,rgba(255, 255, 255, 0.26),rgba(0, 0, 0, 0.558),transparent 100%);
    display: flex;
    justify-content: end;
    opacity: 40%;
}

.main1{
    margin-top: 150;
    margin-left: 250px;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profname{
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-inline: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: all 2s ease ;
    font-family: "Lavishly Yours", cursive;
    font-size: 20px;
    margin-bottom: 20px;
}

.profname{
    
    
}

.head2{
    text-shadow: 0px 0px 5px white;
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 10;
}

.head4{
    text-shadow: 0px 0px 10px white;
    text-decoration: underline;
    font-weight: 400;
    font-size: 26px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.head3{
    font-weight: 400;
    font-size: 16px;
    width: 500px;
    color: white;
}

.prof{
    margin-left: 10px;
    margin-right: 20px;
    filter: grayscale(100%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profname:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

.shelcontain {
    position: relative;
    left: 750px;
    bottom: 200px; 
    width: 600px;
    height: 600px;

    perspective: 1200px; 
}

.shelf {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    transform-style: preserve-3d;  
    

    transform: rotateY(-45deg) rotateX(10deg);

    box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(305deg,rgba(112, 112, 112, 0.621),rgba(255, 255, 255, 0.444));
  border-radius: 8px;
  transition: transform 0.4s ease;
  font-size: 40px;
}



.box:hover {
  transform: translateZ(20px);
}

.links{
    color: white;
    margin-left: 100px;
    font-family: "Lavishly Yours", cursive;
    font-size: 20px;
    text-decoration: none;
}



.prof img{

    width: 100%;
    
}

.line{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px white;
    height: 1px;
    width: 90%;
    opacity: 50%;
}


.main2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 50px;
    width: 100%;
}

.sobox1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-right: 150px;
    margin-bottom: 50px;
    width: 250px;
    height: 700px;
    
}

.sobox2{
    margin-bottom: -670px;
    position: relative;
    bottom: 670px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-right: 150px;
    margin-bottom: 50px;
    width: 250px;
    height: 700px;

    
}


.sobtn{
    width: 50px;
    height: 50px;
    font-size: 35px;
    background: none;
    border: none;
    
}

.a{
    margin-top: 140px;
    position: sticky;
    top:10px;
}
.b{
    margin-top: 190px;
    position: sticky;
    top: 10px;;
}
.c{
    margin-top: 240px;
    position: sticky;
    top: 10px;
}

.e{
    margin-top: 280px;
    position: sticky;
    top: 60px;;
}
.f{
    margin-top: 340px;
    position: sticky;
    top: 60px;;
}

.h{
    margin-top: 400px;
    position: sticky;
    top: 60px;;
}


/* .lvid{

    width: 200px;
    height: 100px;
    overflow: hidden;
} */