
*{

    margin: 0;
}

body{

    width: 100%;
    background-color: rgb(137, 255, 228);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;

}

.nav{
    display: flex;
    flex-wrap: wrap;


    width: 100%;
    height: 100px;
    background: linear-gradient(180deg,white,white,rgb(204, 255, 247));

}

.btn{

    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    border-color:rgb(204, 226, 255);
    border: 3px rgb(223, 230, 235);
    border-style: solid;
    font-weight: 500;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navt{

    width: 500px;
    
}

.navt ul{
    display: flex;
    padding-left: 620px;
}

.navt ul li{
    

    list-style: none;
    margin-right: 90px;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
}

.simgs{

    width: 100%;
    height: 650px;
    background-color: white;

}

.topics{

    width: 95%;
    height: 1200px;
    background-color: rgb(255, 255, 255);

}

.fas fa-search search-icon{
    position: absolute;
}